<div class="defaultForm elementFormActivity elementForm">
    {{ form_label(form.title) }}{{ form_widget(form.title) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.target) }}{{ form_widget(form.configuration.target) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.instances) }}{{ form_widget(form.configuration.instances) }}
    <div class="clearContainer"></div>
</div>